
/*header style*/

.header-section {
  background-color: #9013fe;
  padding: 0 81px;
  font-size: 1rem;
  color: white;
  align-items: center;
}

.custom-navbar {
  width: 100%;
  background: transparent;
  font-size: 20px;
  align-items: flex-start;
  padding: 0;
}
.custom-navbar .navbar-brand {
  padding: 28px 0 29px;
}
.custom-navbar .navbar-brand img {
  width: 200px;
}
.custom-navbar ul > li > a {
  margin-right: 5px;
  font-size: 14px;
  font-weight: 600;
  padding: 32px 5px 17px;
  max-height: 70px;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.navbar-dark .navbar-nav .nav-link:hover {
  background-color: white;
  color: #901bfe;
}
.custom-navbar ul li a.active {
  background-color: white;
  color: #901bfe !important;
}

.custom-sub-dropdown-menu {
  display: none;
  background-color: white;
  margin-left: 0;
  padding: 13px 0;
}
.custom-sub-dropdown-menu.active {
  display: flex;
  position: absolute;
}
.custom-sub-dropdown-menu a {
  color: #901bfe;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 15px;
}
.custom-sub-dropdown-menu a:hover {
  color: black;
  text-decoration: underline;
  background-color: white;
}
.contact-part > a {
  padding: 10px 5px 10px !important;
  margin-top: 20px !important;
}
.contact-part .fa-search {
  transform: rotate(83deg);
}
.contact-part .fa-phone {
  transform: rotate(95deg);
}
.serach-btn-container a {
  padding: 22px 3px !important;
}
.serach-btn-container a:hover {
  background-color: #901bfe !important;
}
.serach-btn-container button {
  font-size: 1vw;
}

/*header search dropdown*/
.custom-dropdown-menu {
  width: 238px;
  justify-content: space-between;
  position: absolute;
  display: none;
}
.custom-dropdown-menu.active {
  display: block;
  margin-top: 7px;
}
.custom-dropdown-menu button {
  margin: 0 !important;
  width: 30px !important;
  font-size: 16px;
  padding: 5px 43px 0 21px !important;
  text-align: center;
  color: white;
}

@media (max-width: 991px) {
  .custom-navbar {
    align-items: center;
  }
  .custom-navbar ul > li > a {
    font-size: 20px;
  }
  .custom-sub-dropdown-menu {
    position: unset;
  }
  .custom-sub-dropdown-menu.active {
    position: unset;
    display: block;
    background-color: #901bfe;
    color: white;
  }
  .custom-sub-dropdown-menu a {
    text-align: center;
    color: #ccc;
    font-size: 15px;
  }
  .serach-btn-container button {
    font-size: 20px;
  }

  .custom-navbar ul > li > a {
    margin-right: 5px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
  }
  .contact-part > a {
    padding: 10px !important;
  }
  .serach-btn-container a {
    padding: 10px !important;
  }
  .custom-dropdown-menu {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .header-section {
    padding: 0 15px;
  }
}